{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Карта с ДБ</title>
	<!-- <link rel="stylesheet" href="style.css"> -->
	<script src="https://api-maps.yandex.ru/2.0-stable/?apikey=98fe0b39-672a-41b6-b249-1d5fde2b7dcc&load=package.standard&lang=ru-RU" type="text/javascript"></script>
	<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
</head>

<body>
	<div id="map" style="width: 1440px; height: 1080px"></div>
</body>

</html>