{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for p in data %}
        <input type="hidden" id="id-{{p.id}}" data-view-mode="list" value="{{p.id}}" readonly></input>
        <input type="hidden" id="address-{{p.id}}" data-view-mode="list" value="{{p.address}}" readonly></input>
        <input type="hidden" id="duration-{{p.id}}" data-view-mode="list" value="{{p.duration}}" readonly></input>
        <input type="hidden" id="length-{{p.id}}" type="text" name="name" value="{{p.id}}" readonly></input>
    {% endfor %}

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=f5d06009-128c-48d7-a2ee-73160b64f9e8" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/landing.js' %}">

    </script>

    <div id="map" style="width:1080px; height:1080px"></div>
</body>
</html>