
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Нереальный парк ВДНХ</title>

    <script src="https://api-maps.yandex.ru/2.0-stable/?apikey=98fe0b39-672a-41b6-b249-1d5fde2b7dcc&load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap,
            myPlacemark;

        function init(){
            myMap = new ymaps.Map ("map", {
                center: [55.831388, 37.629277],
                zoom: 17
            });

            myPlacemark = new ymaps.Placemark([55.831388, 37.629277], {
                hintContent: 'Парк ВДНХ',
                balloonContent: 'Столица России'
            });

            myMap.geoObjects.add(myPlacemark);
        }
    </script>
</head>

<body>
    <div id="map" style="width: 1940; height: 1080px"></div>
</body>

</html>